# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# WEBSTORM / INTELLIJ
# =========================
.idea/
*.iml

# =========================
# LOGS
# =========================
*.log
